:root{
    --sarlavha-rangi: #222;

}



*{
    box-sizing: border-box;
    transition: .3s;
}

*:focus{
    outline:2px dotted #DE2E54;
    outline-offset: 15px;

}


body{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}


.container{
    max-width: 1440px;
    width: 100%;
    margin-inline: auto;
    padding-inline: 120px;
}

.site-header{
    padding-block: 24px;
}

.site-logo{
    display: inline-block;
}

nav{
    display: inline-block;
    text-align: right;
    width: calc(100% - 200px);
}


.site-nav-link{
    text-decoration: none;
    color:var(--sarlavha-rangi);
    margin-left: 32px;
font-size: 14px;
font-weight: 700;
line-height: 150%; 
letter-spacing: 2px;
text-transform: uppercase;
}


.site-nav-link:hover{
    color: #DE2E54;
}


.global-link{
    margin-left: 115px;
    padding: 12px 24px;
    background-color: #DE2E54;
    border-radius: 8px;
border: 2px solid #DE2E54;
color: #fff;
font-size: 15px;
text-decoration: none;
}


.global-link:hover{
    color: #DE2E54;
    background-color: #fff;
}

.site-logo img{
    vertical-align: middle;
    margin-right: 16px;
    
}
.site-logo a{
    color: var(--sarlavha-rangi);
    text-decoration: none;
font-size: 24px;
font-weight: 600;

}

.site-logo a:hover{
    color: #DE2E54;

}


.hero-section{
    background: #0EB4C1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    flex-wrap: wrap;

}

.hero-content{
    width: 50%;
}

.hero-title{

font-size: 36px;
font-weight: 700;
line-height: 120%; 
}

.hero-text{
font-size: 18px;
font-weight: 400;
line-height: 150%; 
margin-top: 16px;
padding-right: 100px;
}


.hero-link{
    margin-left: 0;
    margin-top: 36px;
    display: inline-block;
}

.hero-link:hover{
    color: #fff;
    background-color:  #DE2E54;
    opacity: 0.6;
}

.services{
    margin-top: 120px;
    text-align: center;
}

.service-title{
    color: #000;
text-align: center;
font-size: 36px;
font-weight: 700;
line-height: 120%;
margin-bottom: 56px;
}


.service-card{
    display: flex;
    align-items: center;
    margin-bottom: 80px;
}

.service-card:last-child{
    margin-bottom: 60px;
}


.card-texts{
    margin-left: 64px;
    text-align: left;
}


.card-title{
    color: var(--sarlavha-rangi);

font-size: 24px;
font-weight: 700;
line-height: 120%; /* 28.8px */
}

.card-text{
    color: #444;

font-size: 16px;
font-weight: 400;
line-height: 150%; 
margin-top: 24px;
}


.contact{
    background-color: #0EB4C1;
    padding-top: 64px;
    margin-top: 120px;
    text-align: center;
    padding-bottom: 70px;
}
.contact-title{
    margin-bottom: 40px;
    color: #FFF;

font-size: 36px;
font-weight: 700;
line-height: 120%; 
}

.contact a{
    padding: 12px 24px;
    border-radius: 8px;
border: 2px solid #FFF;
color: #FFF;
font-size: 15px;
font-weight: 700;
line-height: 120%;
letter-spacing: 2px;
text-transform: uppercase;
text-decoration: none;
display: inline-block;
}


.contact .tel{
    margin-right: 40px;
}


.contact a:hover{
    color: #fff;
    background-color: #DE2E54;
    border-color: #DE2E54;
}


footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-block: 24px;
    background-color: var(--sarlavha-rangi);
}

.footer-logo img{
    margin-right: 16px;
    vertical-align: middle;
}

.footer-logo a{
    text-decoration: none;
font-size: 24px;
font-weight: 600;
    color: #fff;
}


.footer-logo a:hover{
    color: #DE2E54 ;
}

.footer-link{
    text-decoration: none;
    color: #fff;
    margin-left: 32px;
font-size: 14px;
font-weight: 700;
line-height: 150%; 
letter-spacing: 2px;
text-transform: uppercase;
}

.footer-link:hover{
    color: #DE2E54;
}